

@media screen and (max-width: 1980px){
    #proyect1 {
        flex-basis: 100%;

    }

    #proyect1 img{
        width: 400px;
        height: 300px;
    }


}

@media screen and (max-width: 1500px){


    #aside {
        flex: 1 18% ;
        margin-right: 10px;
     }

    #section{
        flex: 1 60%;
    }

     #navigationBar.active{
        right: 20px;
    }

    #html5 span, 
    #css3 span, 
    #javaScript span {
       margin-top: 30px;
       padding-left: 10px;
       font-size: 18px;
   }

   .score{
       margin-left: 25px;
   }
}

@media screen and (max-width: 1200px){

    
     #html5 span, 
     #css3 span, 
     #javaScript span {
        padding-left: 8px;
        font-size: 17px;
    }

    #contact {
        flex-basis: 100%;
        flex-grow: 1;
        display: flex;
        flex-flow: row wrap;
       justify-content: start;
    }

    #contactH3{
        flex: 1 100%;
    }

    #contactForm{
        flex: 1 100%;
    }



    .score{
        font-size: 15px;
    }

    #navigationBar.active{
        width: 50%;
        height: 50px;
        right: 35px;
        padding-left: 1%;
    }
    
    #navigationBar a{
        font-size: 18px;
    }

    #navigationBar li{
        margin: 4px;
    }

}

@media screen and (max-width: 1000px){ 

    #navigationBar.active{
        width: 60%;
        height: 50px;
        right: 35px;
        padding-left: 1%;
    }

   

}

@media screen and (max-width: 830px){ 

    #navigationBar.active{
        width: 58%;
        height: 60px;
        right: 35px;
        padding-left: 4%;
    }

    #navigationBar li{
        margin: 2px;
        padding: 5px;
        margin-top: 15px;
    }

    #navigationBar a{
        font-size: 16px;
    }

    #socialMedia a{
        font-size: 20px;
    }


}



@media screen and (max-width: 768px){ 
    #navigationBar.active{
        top: -20px;
        width: 58%;
        height: 60px;
        right: 20px;
        padding-left: 4%;
        border-top: none;
    }

    #navigationBar.active a{
        font-size: 16px;
    }

    #aside{
        flex-grow: 1 100%;
        order: 2;
    }

    #section{
        flex: 1 100%;
        order: 1;
    }

    #navigationBar{
        margin-top: 30px;
    }

    #navigationBar a{
        font-size: 22px;
    }

    #navigationBar {
        border-top: 1px solid #dfdfdf;
    }

    #mySkills,
    #resume,
    #socialMedia {
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 20px;
    }

    .articles{
        margin-bottom: 100px;
     }

     #myWork h3{
         margin-bottom: 20px;
     }


     #mySkills h3{
         margin-bottom: 10px;
     }
     #imagesContainer{
         display: flex;
         flex-flow: row wrap;
         justify-content: center;
     }

     #imagesContainer div{
         flex: 1 100%;
         margin-left: 100px;
     }

     #html5 span,
     #css3 span,
     #javaScript span{
        font-size: 23px;
     }

    .score{
        font-size: 27px;
     }

     .fontSymbols span {
        font-size: 35px;
      }

      #socialMedia a {
        font-size: 30px;
      }

      #contact {
        padding-top: 70px;
      }

     
}





@media  screen and (max-width: 590px){


    /* HEADER*/
    header h1{
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    header h2{
        font-size: 22px;
    }
    
    #navigationBar a{
        font-size: 20px;
    }

    #navigationBar li{
        margin: 2px;
    }


    #navigationBar.active{
        top: -20px;
        width: 50%;
        height: 40px;
        right: 20px;
        padding-left: 2.5%;
    }

    #navigationBar.active a{
        font-size: 10px;
    }

    #navigationBar.active li{
        padding: 2px;
        margin: 2px;
        margin-top: 5px;
    }

     /* MAIN*/
     main {
        
        padding: 70px 10px 40px 10px;
      }


    .articles h3 {
        font-size: 27px;
        text-align: center;
        margin-bottom: 40px ;
      }

      #aboutMyself p{
        margin-left: 10px;
        margin-top: 20px;
      }

      #imagesContainer div {
        margin-left: 10px;
      }

      footer {
        align-items: center;
      }

      footer span {
        font-size: 15px;
      }
}


@media  screen and (max-width: 483px){


    /* HEADER*/
    header h1{
        font-size: 28px;
    }
    
    header h2{
        font-size: 20px;
    }
    
    #navigationBar a{
        font-size: 16px;
    }

    #navigationBar li{
        margin: 2px;
    }


    #navigationBar.active{
        top: -20px;
        width: 70%;
        height: 50px;
        right: 20px;
        padding-left: 4%;
    }

    #navigationBar.active a{
        font-size: 12px;
    }

    #navigationBar.active li{
        padding: 0px;
        margin: 15px 5px;
    }
 
}


@media  screen and (max-width: 462px){

    #navigationBar.active{
        top: -20px;
        width: 80%;
        height: 40px;
        right: 20px;
        padding-left: 3%;
        
    }

    #navigationBar.active a{
        font-size: 14px;
    }

    #navigationBar.active li{
        padding: 0px;
        margin: 10px 5px;
    }
 
}


@media  screen and (max-width: 428px){

      /* HEADER*/
      header h1{
        font-size: 25px;
    }
    
    header h2{
        font-size: 18px;
    }

    #navigationBar.active{
        position: fixed;
        top: -10px;
        width: 70%;
        height: 35px;
        right: 20px;
        padding-left: 5%;
        
    }

    #navigationBar.active a{
        font-size: 10px;
    }

    #navigationBar.active li{
        padding: 0px;
        margin: 5px 2px;
        border-right: 1px solid #23F9B0;
        line-height: 20px;
        padding-right: 2px;
    }

    #navigationBar.active li:last-child{
        border-right: none;
    }


    .articles{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    #aboutMyself p {
        margin-left: 20px;
        margin-top: 20px;
    }

    .proyect{
        margin: 30px 0px;
        animation: changeBorder 5s infinite;
        
    }

    .proyectLinks{
        display: block;
    }

    #contact form {
        padding: 10px 0px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
      }


    .input {
        margin: 5px 2px;
        font-size: 16px;
        font-weight: 500;
      }

      input[type="text"], 
      input[type="email"],
      textarea {
        width: 70%;
      }


      #submit{
          width: 70%;
      }
      input[type="submit"]{
        width: 30%;
         
      }
    
 
}